fastapi
uvicorn[standard]
python-multipart

# PyTorch CPU - auto resolver
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu

# CLIP
git+https://github.com/openai/CLIP.git

# Vector search
faiss-cpu

# Básicos
pillow
numpy
pydantic[email]
pydantic-settings
httpx